
.forgot-password-container {
    color:blue;
    font-size:11px;
    width: 90%;
    display: flex;
    justify-content: flex-end;

}

.link-and-button-container {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
